<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeveloperTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ZigbeeBoardTestApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DeveloperTools.Properties.Settings>
            <setting name="CommPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>00, 01, 02, 03, 04, 05, 06, 07, 08, 09, 0xA, 0xB, 0xC, 0xD, 0xE, 0xF, 0x10, 0x11, 0x12, 0x13, 0x14, 0x15, 0x16, 0x17, 0x18, 0x19, 0x1A, 0x1B, 0x1C, 0x1D, 0x1E, 0x1F</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>0x33, 0x33, 0x32, 0x35, 0x31, 0x32, 0x31, 0x33</value>
            </setting>
            <setting name="Channel" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="HANID" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="ExtendedHANID" serializeAs="String">
                <value>00,00,00,00,00,00,00,00</value>
            </setting>
            <setting name="MACAddress1" serializeAs="String">
                <value/>
            </setting>
            <setting name="InstallCode1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
            <setting name="ModemCommPort" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="TCPIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="TCPIPPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Modem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>atd 0417619191</value>
            </setting>
        </DeveloperTools.Properties.Settings>
        <ZigbeeBoardTestApplication.Properties.Settings>
            <setting name="CommPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>00, 01, 02, 03, 04, 05, 06, 07, 08, 09, 0xA, 0xB, 0xC, 0xD, 0xE, 0xF, 0x10, 0x11, 0x12, 0x13, 0x14, 0x15, 0x16, 0x17, 0x18, 0x19, 0x1A, 0x1B, 0x1C, 0x1D, 0x1E, 0x1F</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>0x33, 0x33, 0x32, 0x35, 0x31, 0x32, 0x31, 0x33</value>
            </setting>
            <setting name="Channel" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="HANID" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="ExtendedHANID" serializeAs="String">
                <value>00,00,00,00,00,00,00,00</value>
            </setting>
            <setting name="MACAddress1" serializeAs="String">
                <value/>
            </setting>
            <setting name="InstallCode1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
            <setting name="ModemCommPort" serializeAs="String">
                <value>COM6</value>
            </setting>
        </ZigbeeBoardTestApplication.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
